.menu {
    width: 400px;
    height: 32px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;

}
.item {
    background: #e57373;
    width: 90px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content:center;
    align-items:center;
}
.selected {
    background: red;
}