.menu {
    width: 330px;
    height: 32px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;

}
.item {
    background: #e57373;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    font-szie: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
}